# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
keys.env


# Kaggle / Data
.cache/
data/
datasets/
models/
Data/

# Jupyter Notebooks
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# VS Code
.vscode/

# macOS
.DS_Store